.Welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 750px;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;

	h1 {
		font-size: 3rem;
		margin-bottom: 30px;
	}

	a {
		color: white;
		background-color: #de0e3c;
		font-size: 2rem;
		text-transform: uppercase;
		padding: 0.8rem 1.5rem;
		text-decoration: none;
		border-radius: 10px;
		border-bottom: 5px solid #981532;
		position: relative;
		transition: .2s;
		&:hover {
			background-color: #b5173a;
		}
		&:active {
			background-color: #b5173a;
			margin-top: 3px;
			top: 3px;
			border-width: 2px;
		}
	}
}