.tent-count {
	height: 8vh;
	width: 8vh;
	text-align: center;
	font-size: 40px;
	position: relative;
	cursor: default;
	transition: 0.2s;
	transition-delay: 0.2s;
	color: #7f4e40;
	&:hover {
		z-index: 1;
	}

	&.complete {
		opacity: 0.2;
	}

	&.invalid {
		opacity: 1;
		color: red;
	}
}
