td.tile {
	padding: 10px;
	background-color: #222;
	height: 8vh;
	width: 8vh;
	user-select: none;
	border-radius: 6px;
	cursor: pointer;
	transition: .2s;
	color: white;
	font-size: 10px;
	// Tent (hidden)
	&::before {
		content: "";
		display: block;
		margin: 0 auto;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-color: transparent;
		border-width: 40px 20px;
		border-bottom-color: #ca3030;	
		position: absolute;
		top: -50%;
		transform: translateY(25%) scale(0);
		transform-origin: 20px 60px;
		left: 0;
		right: 0;
		transition: .2s;
	}
}

td.tree {
	background-color: #597938;
	position: relative;
	
	&::after {
		content: "";
		display: block;
		width: 45px;
		height: 80px;
		margin: auto;	
		background-image: url("../assets/images/tree.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;	
		position: absolute;
		top: -20px;
		left: 0;
		right: 0;
		pointer-events: none;
	}
}

td.grass {
	background-color: #6d9840;
}

td.tent {
	background-color: #6d9840;
	position: relative;
	&::before {
		transform: translateY(25%) scale(1);
	}
}
