td.tile {
	background-color: #333230;
	border-width: 0 1px 2px 0;
	border-color: transparent;
	border-style: solid;
	user-select: none;
	cursor: pointer;
	transition: 0.2s;
	color: white;
	font-size: 10px;
	position: relative;
	-webkit-tap-highlight-color: transparent;
	// Tent (hidden)
	&::before {
		content: "";
		display: block;
		width: 50%;
		margin: auto;
		background-image: url("../assets/images/tent.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		transform: scale(0);
		pointer-events: none;
		transition: 0.2s;
	}
}

td.tile {
	&.barn,
	&.grass,
	&.cow {
		background-color: #ccd67d;
		position: relative;
		border-color: #98bd8e;
	}
}

td.barn {
	&::after {
		content: "";
		display: block;
		height: 100%;
		margin: auto;
		background-image: url("../assets/images/tree.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		top: -15%;
		left: 12%;
		right: 0;
		pointer-events: none;
	}
}

td.cow {
	&::before {
		transform: scale(1);
	}
}

td pre {
	font-family: monospace;
	position: relative;
	z-index: 1;
}
