* {
	margin: 0;
	padding: 0;
	font-family: "Fredoka One", sans-serif;
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

body {
	background-color: #fff4cc;
	max-width: 950px;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	-webkit-overscroll-behavior: none;
	overscroll-behavior: none;
}
