.CowCount{
	text-align: center;
	position: relative;
	cursor: default;
	transition: 0.2s;
	transition-delay: 0.2s;
	color: #af9e62;
	&:hover {
		z-index: 1;
	}

	&.complete {
		opacity: 0.35;
	}

	&.invalid {
		opacity: 1;
		color: red;
	}
}
